In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from numpy.random import seed
from sklearn.preprocessing import minmax_scale
from sklearn.model_selection import train_test_split
from keras.layers import Input, Dense
from keras.models import Model

Using TensorFlow backend.

In [2]:
train = pd.read_csv('D:/Deep_learning/sdg_autoencoder/train/train.csv')
test = pd.read_csv('D:/Deep_learning/sdg_autoencoder/test/test.csv')

C:\Users\mmani\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
print(train.shape)
print(test.shape)

(2697, 4993)
(47408, 4992)

In [4]:
train.head()

,ID,target,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
0,000d6aaf2,38000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,000fbd867,600000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0027d6b71,10000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0028cbf45,2000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,002a68644,14400000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
test.head()

,ID,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,20aa07010,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
0,000137c73,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00021489f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0004d7953,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00056a333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,00056d8eb,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
target = train['target']
train_id = train['ID']
test_id = test['ID']

train.drop(['target'], axis=1, inplace=True)
train.drop(['ID'], axis=1, inplace=True)
test.drop(['ID'], axis=1, inplace=True)

In [7]:
print('Train data shape', train.shape)
print('Test data shape', test.shape)

Train data shape (2697, 4991)
Test data shape (47408, 4991)

In [8]:
train_scaled = minmax_scale(train, axis = 0)
test_scaled = minmax_scale(test, axis = 0)

In [9]:
ncol = train_scaled.shape[1]

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(train_scaled, target, train_size = 0.9, random_state = seed(2017))

C:\Users\mmani\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [11]:
encoding_dim = 200

In [12]:
input_dim = Input(shape = (ncol, ))

# Encoder Layers
encoded1 = Dense(3000, activation = 'relu')(input_dim)
encoded2 = Dense(2750, activation = 'relu')(encoded1)
encoded3 = Dense(2500, activation = 'relu')(encoded2)
encoded4 = Dense(2250, activation = 'relu')(encoded3)
encoded5 = Dense(2000, activation = 'relu')(encoded4)
encoded6 = Dense(1750, activation = 'relu')(encoded5)
encoded7 = Dense(1500, activation = 'relu')(encoded6)
encoded8 = Dense(1250, activation = 'relu')(encoded7)
encoded9 = Dense(1000, activation = 'relu')(encoded8)
encoded10 = Dense(750, activation = 'relu')(encoded9)
encoded11 = Dense(500, activation = 'relu')(encoded10)
encoded12 = Dense(250, activation = 'relu')(encoded11)
encoded13 = Dense(encoding_dim, activation = 'relu')(encoded12)
# Decoder Layers
decoded1 = Dense(250, activation = 'relu')(encoded13)
decoded2 = Dense(500, activation = 'relu')(decoded1)
decoded3 = Dense(750, activation = 'relu')(decoded2)
decoded4 = Dense(1000, activation = 'relu')(decoded3)
decoded5 = Dense(1250, activation = 'relu')(decoded4)
decoded6 = Dense(1500, activation = 'relu')(decoded5)
decoded7 = Dense(1750, activation = 'relu')(decoded6)
decoded8 = Dense(2000, activation = 'relu')(decoded7)
decoded9 = Dense(2250, activation = 'relu')(decoded8)
decoded10 = Dense(2500, activation = 'relu')(decoded9)
decoded11 = Dense(2750, activation = 'relu')(decoded10)
decoded12 = Dense(3000, activation = 'relu')(decoded11)
decoded13 = Dense(ncol, activation = 'sigmoid')(decoded12)

# Combine Encoder and Deocder layers
autoencoder = Model(inputs = input_dim, outputs = decoded13)

# Compile the Model
autoencoder.compile(optimizer = 'adadelta', loss = 'binary_crossentropy')

WARNING:tensorflow:From C:\Users\mmani\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [13]:
autoencoder.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         (None, 4991)              0
_________________________________________________________________
dense_1 (Dense)              (None, 3000)              14976000
_________________________________________________________________
dense_2 (Dense)              (None, 2750)              8252750
_________________________________________________________________
dense_3 (Dense)              (None, 2500)              6877500
_________________________________________________________________
dense_4 (Dense)              (None, 2250)              5627250
_________________________________________________________________
dense_5 (Dense)              (None, 2000)              4502000
_________________________________________________________________
dense_6 (Dense)              (None, 1750)              3501750
_________________________________________________________________
dense_7 (Dense)              (None, 1500)              2626500
_________________________________________________________________
dense_8 (Dense)              (None, 1250)              1876250
_________________________________________________________________
dense_9 (Dense)              (None, 1000)              1251000
_________________________________________________________________
dense_10 (Dense)             (None, 750)               750750
_________________________________________________________________
dense_11 (Dense)             (None, 500)               375500
_________________________________________________________________
dense_12 (Dense)             (None, 250)               125250
_________________________________________________________________
dense_13 (Dense)             (None, 200)               50200
_________________________________________________________________
dense_14 (Dense)             (None, 250)               50250
_________________________________________________________________
dense_15 (Dense)             (None, 500)               125500
_________________________________________________________________
dense_16 (Dense)             (None, 750)               375750
_________________________________________________________________
dense_17 (Dense)             (None, 1000)              751000
_________________________________________________________________
dense_18 (Dense)             (None, 1250)              1251250
_________________________________________________________________
dense_19 (Dense)             (None, 1500)              1876500
_________________________________________________________________
dense_20 (Dense)             (None, 1750)              2626750
_________________________________________________________________
dense_21 (Dense)             (None, 2000)              3502000
_________________________________________________________________
dense_22 (Dense)             (None, 2250)              4502250
_________________________________________________________________
dense_23 (Dense)             (None, 2500)              5627500
_________________________________________________________________
dense_24 (Dense)             (None, 2750)              6877750
_________________________________________________________________
dense_25 (Dense)             (None, 3000)              8253000
_________________________________________________________________
dense_26 (Dense)             (None, 4991)              14977991
=================================================================
Total params: 101,590,191
Trainable params: 101,590,191
Non-trainable params: 0
_________________________________________________________________

In [14]:
autoencoder.fit(X_train, X_train, nb_epoch = 10, batch_size = 32, shuffle = False, validation_data = (X_test, X_test))

WARNING:tensorflow:From C:\Users\mmani\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

C:\Users\mmani\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Train on 2427 samples, validate on 270 samples
Epoch 1/10
2427/2427 [==============================] - 159s 65ms/step - loss: nan - val_loss: nan
Epoch 2/10
2427/2427 [==============================] - 130s 53ms/step - loss: nan - val_loss: nan
Epoch 3/10
2427/2427 [==============================] - 153s 63ms/step - loss: nan - val_loss: nan
Epoch 4/10
2427/2427 [==============================] - 123s 51ms/step - loss: nan - val_loss: nan
Epoch 5/10
2427/2427 [==============================] - 135s 56ms/step - loss: nan - val_loss: nan
Epoch 6/10
2427/2427 [==============================] - 135s 55ms/step - loss: nan - val_loss: nan
Epoch 7/10
2427/2427 [==============================] - 119s 49ms/step - loss: nan - val_loss: nan
Epoch 8/10
2427/2427 [==============================] - 134s 55ms/step - loss: nan - val_loss: nan
Epoch 9/10
2427/2427 [==============================] - 122s 50ms/step - loss: nan - val_loss: nan
Epoch 10/10
2427/2427 [==============================] - 2654s 1s/step - loss: nan - val_loss: nan

In [15]:
encoder = Model(inputs = input_dim, outputs = encoded13)
encoded_input = Input(shape = (encoding_dim,))

In [16]:
encoded_train = pd.DataFrame(encoder.predict(train_scaled))
encoded_train = encoded_train.add_prefix('feature_')

encoded_test = pd.DataFrame(encoder.predict(test_scaled))
encoded_test = encoded_test.add_prefix('feature_')

In [17]:
encoded_train['target'] = target

In [18]:
print(encoded_train.shape)
encoded_train.head()

(2697, 201)

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_191,feature_192,feature_193,feature_194,feature_195,feature_196,feature_197,feature_198,feature_199,target
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38000000.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600000.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10000000.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000000.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14400000.0

In [19]:
print(encoded_test.shape)
encoded_test.head()

(47408, 200)

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_190,feature_191,feature_192,feature_193,feature_194,feature_195,feature_196,feature_197,feature_198,feature_199
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN